<div id = "left-panel-visualize">

  <label > X: </label> 
  <div class="space10"></div>
  <input class="form-control" type="number" name="input-x" >

  <label > Y: </label> 
  <div class="space10"></div>
  <input class="form-control" type="number" name="input-y" >

  <label > Z: </label> 
  <div class="space10"></div>
  <input class="form-control" type="number" name="input-z" >

</div>

<div id="content-visualize">
    <!-- <div id="blocker" #blocker>
        <div id="instructions" #instructions>
            <span style="font-size:40px">Click to play</span>
            <br />
            (W, A, S, D = Move, SPACE = Jump, MOUSE = Look around)
        </div>
    </div> -->
</div>